* {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 100%;
    height: auto;
}
#wrap > div {            
    width: 100vw; 
    height: 100vh;
}
#myhome{
    color: #bbbbbb;
}
header{
    width: 100%;
    text-align: center;
    height: 50px;
    position: fixed;
}
strong{
    display: inline-block; 
    margin-left: 50px; 
    margin-top: 20px; 
    cursor: pointer;
    font-size: 20px;
    font-family: 'Palanquin Dark', sans-serif;
    color: white;
    padding: 5px;
}
strong:hover {
    color: black;
}
/* pag1 */
#page1{
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center; 
    /* 가로 축을 기준으로 좌우에 대한 정렬을 관장합니다 */
}
.intro{
    position: absolute;
    top: 50%;
    height: 240px;
    margin-top: -220px;
    margin-left: 440px;
    margin-right: 420px;
    
}
.intro p {
    text-align: center;
}
.profile{
    width: 270px;
    height: 270px;
    border-radius: 135px;
}

.intro h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    font-size: 42px;
    text-align: center;
    }
.intro h3{
    font-family: "Apple SD Gothic Neo", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #555555;
    text-align: center;
    }
.intro a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}        
.contact_logo{
    height: 163px;
    line-height: 220px;
    text-align: center;
}
.contact_logo img {
    width: 70px;
    height: 60px;
    padding-left: 12px;
}

/* page2 */
#page2 {
    background: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center; 
  }
.favorites{
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    font-size: 40px;
    position: absolute;
    display: flex;
    margin-top: -550px; 
} 
.container {
    display: flex;
    margin-top: -120px;
    justify-content: center; 
}
.hobby{
    padding: 0 200px;
}


  

